<app-header></app-header>
<app-menu></app-menu>

<div id="content">
  <p>Inicio</p>

  <div class="container">

    <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
    </mat-form-field>

    <!--,'name','lastName','license','description'-->

    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Apellido
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.lastName }}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="license">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            license
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.license }}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            description
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.descripcion }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator
        #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
      </mat-paginator>

    </div>

    <button mat-raised-button type="createPropuesta" color="primary" routerLink="/home/propuesta">Crear Propuesta</button>

  </div>

</div>
<div>
<header>
  <h1>Inicio</h1>
</header>

<section class="seccion">
  <div class="actions">
    <button type="submit" class="search-button">
      <a> Buscar</a>
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="content">
    <article>
      <h1>Henry Medina</h1>
      <div class="contenido">
        Henry Medina es un conductor de profesión con experiencia trabajando
        en empresas como Cruz del Sur, grupo Palomino, Multicosailor.
        Cuenta...
      </div>
      <img src="/assets/images/Postulante1.jpeg" />
      <button class="boton-ver-perfil">Ver perfil</button>
    </article>

    <article>
      <h1>Marcos Rosa</h1>
      <div class="contenido">
        Marcos Rosa es un conductor profesional con licencia A-IIIb con
        experiencia en el sector transporte de 10 años. Trabajó con empresas
        como Ambrosoli, Back...
      </div>
      <img src="/assets/images/Postulante2.jpeg" />
      <button class="boton-ver-perfil">Ver perfil</button>
    </article>
  </div>
  <nav class="barra-navegacion">
    <ul>
      <li><a href="#" class="activo"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </nav>
  <button type="submit" class="newcreate">
    <a> Crear propuesta laboral </a>
    <i class="fa fa-square-plus"></i>
  </button>
</section>
</div>
<app-panel></app-panel>
