
<header>
  <h1>Inicio</h1>
</header>

<section class="seccion">
  <div class="actions">
    <button type="submit" class="search-button" routerLink="/home/buscarPropuesta">
      <a> Buscar</a>
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="content">
    <article>
      <h1>Henry Medina</h1>
      <div class="contenido">
        Henry Medina es un conductor de profesión con experiencia trabajando
        en empresas como Cruz del Sur, grupo Palomino, Multicosailor.
        Cuenta...
      </div>
      <img src="/assets/images/Postulante1.jpeg" />
      <button class="boton-ver-perfil">Ver perfil</button>
    </article>

    <article>
      <h1>Marcos Rosa</h1>
      <div class="contenido">
        Marcos Rosa es un conductor profesional con licencia A-IIIb con
        experiencia en el sector transporte de 10 años. Trabajó con empresas
        como Ambrosoli, Back...
      </div>
      <img src="/assets/images/Postulante2.jpeg" />
      <button class="boton-ver-perfil">Ver perfil</button>
    </article>
  </div>
  <nav class="barra-navegacion">
    <ul>
      <li><a href="#" class="activo"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </nav>
  <button type="submit" class="newcreate" routerLink="/home/propuesta">
    <a> Crear propuesta laboral </a>
    <i class="fa fa-square-plus"></i>
  </button>
</section>
