* {
  padding: 0;
  margin: 0;
  border: 0;
}

#content {
  position: fixed;
  z-index: 50;
  padding: 10px;
  top: 75px;
  left: 74px;
  width: calc(100% - 375px);
  height: calc(100% - 100px);
  background-color: #e1e1e1;
  color: #000;
  overflow-y: scroll;
}
