<nav id="menu">
  <mat-button-toggle-group
    #toggleBtn="matButtonToggleGroup"
    name="fontStyle"
    aria-label="Font Style"
    vertical
  >
  <!--Button that make router link to a children of his parent in angular-->



    <mat-button-toggle id="menu-button" value="home" routerLink="inicio">
      <mat-icon
        class="menu-button-icon"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle id="menu-button" value="list" routerLink="listarPropuesta">
      <mat-icon
        class="menu-button-icon"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="receipt_long"
      ></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle id="menu-button" value="notifications">
      <mat-icon
        class="menu-button-icon"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="notifications"
      ></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button id="setting-menu" mat-button [matMenuTriggerFor]="menu">
    <mat-icon
      id="settings-button-icon"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="settings"
    ></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="info"
    ></mat-icon>
    Acerca de
    </button>
    <button mat-menu-item>Cerrar sesión
      <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="logout"
    ></mat-icon>
    </button>
  </mat-menu>
</nav>
