<nav id="menu">
  <mat-button-toggle-group
    #toggleBtn="matButtonToggleGroup"
    name="fontStyle"
    aria-label="Font Style"
    vertical
  >
    <mat-button-toggle id="menu-button" value="home" routerLink="inicio">
      <mat-icon
        class="menu-button-icon"
        aria-hidden="false"
        fontIcon="home"
      ></mat-icon>
    </mat-button-toggle>

    <mat-button-toggle
      id="menu-button"
      value="list"
      routerLink="listarPropuesta"
    >
      <mat-icon
        class="menu-button-icon"
        aria-hidden="false"
        fontIcon="receipt_long"
      ></mat-icon>
    </mat-button-toggle>

    <mat-button-toggle id="menu-button" value="notifications">
      <mat-icon
        class="menu-button-icon"
        aria-hidden="false"
        fontIcon="notifications"
      ></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button id="setting-menu" mat-button [matMenuTriggerFor]="menu">
    <mat-icon
      id="settings-button-icon"
      aria-hidden="false"
      fontIcon="settings"
    ></mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <a mat-menu-item href="https://prodriver-peru.github.io/" target="_blank">
      <mat-icon aria-hidden="false" fontIcon="info"></mat-icon>
      Acerca de
    </a>
    <a mat-menu-item href="#">
      <mat-icon
        aria-hidden="false"
        fontIcon="logout"
        routerLink="login"
      ></mat-icon>
      Cerrar sesión
    </a>
  </mat-menu>
</nav>
