<mat-button-toggle-group id="menu" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle id="menu-button" value="bold">
    <mat-icon id="menu-button-icon"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
    ></mat-icon>
  </mat-button-toggle>
  <mat-button-toggle id="menu-button" value="italic">
    <mat-icon id="menu-button-icon"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="receipt_long"
    ></mat-icon>
  </mat-button-toggle>
  <mat-button-toggle id="menu-button" value="underline">
    <mat-icon id="menu-button-icon"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="notifications"
    ></mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
