* {
  padding: 0;
  margin: 0;
  border: 0;
}

#menu {
  position: fixed;
  top: 75px;
  left: 0;
  width: 89px;
  height: calc(100vh - 77px);
  z-index: 100;
  border-right: 1px solid #0b7ca8;
  background-color: #02abed;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  padding-top: 2px;;
}

.menu-button-icon {
  color: #000000;
  font-size: 30px;
  width: 40px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-button-toggle-checked {
  background-color: #009688;
  color: #02abed;
}

.mat-button-toggle-checked .menu-button-icon {
  color: #ffffff;
}

.mat-button-toggle-group {
  margin-top: 15px;
}

#setting-menu {
  margin-bottom: 20px;
}

#settings-button-icon {
  color: #ffffff;
  font-size: 30px;
  width: 40px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
