@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 280px);
  height: 75px;
}

#header-title {
  background-color: #009688;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  height: 75px;
}

#container-logo {
height: 75px;
width: 74px;
border-bottom: 1px solid #009688;
display: flex;
align-items: center;
justify-content: center;
margin-left: 10px;
}

#logo {
  height: 40px;
  object-fit: contain;
}

#container-title {
  height: 74px;
  width: 179px;
  border-bottom: 1px solid #009688;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  margin-left: 15px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-left {
  height: 74px;
  width: calc(100% - 255px);
  border-bottom: 1px solid #009688;
  display: flex;
  align-items: center;
  justify-content: center;

}
