<div class="container">
  <h1>Inicio</h1>

  <section class="seccion">
    <div class="actions">
      <button
        type="submit"
        class="search-button"
        routerLink="/home/buscarConductor"
      >
        <a> Buscar</a>
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div class="content">
      <article class="ficha">
        <p class="driver-name">Henry Medina</p>
        <div class="descr">
          <div class="contenido">
            Henry Medina es un conductor de profesión con experiencia trabajando
            en empresas como Cruz del Sur, grupo Palomino, Multicosailor.
            Cuenta...
          </div>
          <img src="/assets/images/Postulante1.jpeg" />
        </div>
        <button class="boton-ver-perfil">Ver perfil</button>
      </article>

      <article class="ficha">
        <p class="driver-name">Marcos Rosa</p>
        <div class="descr">
          <div class="contenido">
            Marcos Rosa es un conductor profesional con licencia A-IIIb con
            experiencia en el sector transporte de 10 años. Trabajó con empresas
            como Ambrosoli, Back...
          </div>
          <img src="/assets/images/Postulante2.jpeg" />
        </div>
        <button class="boton-ver-perfil">Ver perfil</button>
      </article>
    </div>
    <nav class="barra-navegacion">
      <ul>
        <li><a href="#" class="activo"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </nav>
    <button type="submit" class="newcreate" routerLink="/home/propuesta">
      <a> Crear propuesta laboral </a>
      <i class="fa fa-square-plus"></i>
    </button>
  </section>
</div>
