<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro Reclutador</title>

</head>

<body>

<header>
  <h1>Crear propuesta laboral</h1>
</header>

  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Código" formControlName="id">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput required placeholder="Descrpción" formControlName="description"></textarea>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Tipo de Licencia</mat-label>
      <input matInput required placeholder="Licencia" formControlName="licenseTypeRequired">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Año de experiencia</mat-label>
      <input matInput required placeholder="Año de experiencia" formControlName="experienceYear">
    </mat-form-field>

    <br>


    <button mat-raised-button type="submit" color="primary">Publicar</button>

    <button mat-raised-button color="warn" routerLink="/home/inicio">Cancelar</button>

    <p>{{mensaje}}</p>

  </form>

</body>

</html>
